*.sqlite filter=lfs diff=lfs merge=lfs -text
Distant_Horizons_server_data/**/DistantHorizons.sqlite filter=lfs diff=lfs merge=lfs -text
saves/New[[:space:]]World/data/DistantHorizons.sqlite filter=lfs diff=lfs merge=lfs -text
